.general-container {
    display: flex;
    width: 90%;
    height: 400px;
    padding-top: 60px;
    position: relative;
    margin: auto;
}

.container-left{
    width: 70%;
    /* border: 1px solid black; */
    position: relative;
    height: 400px;
}

.single-slide{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .4s;
}
.single-slide.active{
    opacity: 1;
}

.single-slide > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
}
.single-slide .text-container{
    position: absolute;
    color: white;
    bottom: 0;
    right: 0;
    font-size: 10px;
    padding: 20px;
    text-align: right;
    width: 50%;
    /* background-color: red; */
}

/* ******************************************************** */

.container-right{
    /* border: 1px solid black; */
    width: 30%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;

}
.container-right img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 79px;
    filter: brightness(.4);
    transition: filter .4s;
}

.container-right img.active{
    border: 4px solid black;
    filter: brightness(1);
}

.arrows-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    /* background-color: yellow; */
    justify-content: space-between;

}