<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Slide Show</title>
</head>

<body>
    <div id="root">
        <main>
            <div class="general-container">

                <div class="container-left">

                    <div class="single-slide" v-for="slide,indice in imgList"
                        :class="indice === indiceActiveCorrente ? 'active' : ''">
                        <img v-bind:src=" slide.url" v-bind:alt="'immagine numero '+ (indice + 1)">
                        <div class="text-container">
                            <h3>{{slide.titolo}}</h3>
                            <p>{{slide.paragrafo}}</p>
                        </div>
                    </div>

                </div>

                <div class="container-right">
                    <img :src="slide.url" alt="" v-for="slide,i in imgList"
                        :class="i===indiceActiveCorrente ? 'active':''">
                    <div class="arrows-container">
                        <button class="arrow-top" @click="imgPrecedente">Su</button>
                        <button class="arrow-down" @click="imgSuccessiva">Giu</button>
                    </div>
                </div>
        </main>
        <footer></footer>
    </div>
    <script src="js/script.js"></script>
</body>

</html>